<div class="just">
<h3 class="text-left">[AppointShareの特徴]</h2>
<h3 class="text-left">・都合の良い時間にコメントでやり取りをすることで、予定を作り上げることが出来る。</h2>
<h3 class="text-left">・出勤状況を確認することができるので、連絡を取るタイミングが事前に判断できる。</h2>
<h3 class="text-left">・全社員の予定を確認することができるので、状況に合わせた予定を作成できる。</h2>
</div>