<div class="rate">
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <h2 class="my-5">全社員一覧</h2>
        <table class='table'>
          <thead>
            <tr>
              <th>会員ID</th>
							<th>所属部署</th>
							<th>名前</th>
							<th>出勤状況</th>
							<th>会員ステータス</th>
							<th>登録情報</th>
            </tr>
          </thead>
          <tbody>
            <% @end_users.each do |end_user| %>
							<tr>
								<td><%= end_user.id %></td>
								<td><%= end_user.department_name %></td>
								<td><%= end_user.full_name %></td>
								<td>
									<% if end_user.is_worked? %>
										<span class="text-active">出勤中</span>
									<% else %>
										<span class="text-invalid">退勤中</span>
									<% end %>
								</td>
								<td>
									<% if end_user.is_deleted? %>
										<span class="text-active">有効</span>
									<% else %>
										<span class="text-invalid">利用停止</span>
									<% end %>
								</td>
								<td><%= link_to "詳細", admin_end_user_path(end_user), class: "btn btn-primary" %></td>
							</tr>
						<% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>